<div class="form-group">
  <input type="hidden" id="datepicker_locale" value="{{ set_locale }}">
  <input type="hidden" name="start" id="es_start_ts" value="{{ es_start_ts }}" />
  <input type="hidden" name="stop" id="es_stop_ts" value="{{ es_stop_ts }}" />
  <div id="es_daterangepicker" class="form-control">
    <i class="fa fa-calendar-week fa-fw text-secondary"></i>&nbsp;<span></span> <i class="fa fa-caret-down"></i>
  </div>
</div>
